<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/script.js"></script>

</head>
<body>
<!--<a href="/addEmployee">Add Employee</a>-->

<div class="container">

    <form class="list-form" role="form">
        <h2 class="form-signin-heading">Add Employee</h2>
        <input type="text" id="id" name="id" class="form-control" placeholder="Id" required autofocus>
        <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
        <input type="text" id="age" name="age" class="form-control" placeholder="Age" required autofocus>
        <input type="text" id="type" name="type" class="form-control" placeholder="Type" required autofocus>

        <button class="btnAdd btn-lg btn-primary btn-block" type="button">Add Employee</button>
        <button class="btnGet btn-lg btn-primary btn-block" type="button">Get Employee List</button>
    </form>


</div>
<p style=" margin-bottom:1cm;">Improve with bootstrap!!</p>
<table id="result">
    <tr>
        <th>id</th>
        <th>result</th>
    </tr>
</table>

</body>

</html>